@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-background {
	background-size: 200%;
	background-position: center center;

	-webkit-animation: animation 2s ease infinite;
	-moz-animation: animation 2s ease infinite;
	animation: animation 2s ease infinite;
}

@keyframes animation {
	0%,
	100% {
		background-position: 50% 50%; /* Centered */
	}

	50% {
		background-position: 90% 90%; /* Slightly shifted */
	}
}
